<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/weswinglogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weswinglogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeSwing"
        tools:targetApi="31">
        <activity
            android:name=".activity.Filtres"
            android:exported="false" />
        <activity
            android:name=".activity.Calendar"
            android:exported="false" />
        <activity
            android:name=".activity.Professors"
            android:exported="false" />
        <activity
            android:name=".activity.Escola"
            android:exported="false" />
        <activity
            android:name=".activity.Perfil"
            android:exported="false" />
        <activity
            android:name=".activity.Assistents"
            android:exported="false" />
        <activity
            android:name=".activity.Moguda"
            android:exported="false" />
        <activity
            android:name=".activity.Newsfeed"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.Registre"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.Inici"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>